{
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "always",
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react?$",
    "^react-.*$",
    "^[a-z@]",
    "^[./](?!.*\\.(css|scss|sass)$)",
    ".*\\.(css|scss|sass)$",
    ".*"
  ],
  "importOrderSortSpecifiers": true
}
