@use '../../../App.scss';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0;
  background-color: App.$dark-background;
  color: App.$heading-text;

  .header-title {
    text-align: left;
    padding-left: 1em;

    h1 {
      a {
        font-family:
          Candara,
          Calibri,
          Segoe,
          Segoe UI,
          Optima,
          Arial,
          sans-serif;
        font-size: 32px;
        color: App.$heading-text;
      }
    }
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;

    a {
      color: App.$sub-heading-text;
      text-decoration: none;
      padding: 1em;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .mobile {
    a {
      color: App.$paragraph-text;
    }
  }
}
