.time-duration-input {
    display: flex;
    flex-direction: row;

    .input {
        input {
            max-width: 50px;
        }
    }
}

.error-message {
    color: red;
    font-weight: bolder;
    text-decoration: underline;
}

.create-recipe-container {
    h2 {
        padding-top: 0.5em;
    }

    form {
        .submit-button {
            margin: 0 0 1em 0;
        }
    }
}