.import-parent {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    padding: 1em;
    width: 90%;
  }
}

.supported-sites {
  max-width: 350px;

  div {
    text-align: left;
  }
}
