@use '../../App.scss';

.home-card {
  max-width: 200px;
  padding: 2em 4em 5em 4em;
  background-color: App.$content-background;
  border-radius: 25px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text-container {
    display: flex;
    flex-direction: row;

    .text-area {
      width: 33%;
      padding: 1em;
    }
  }
}
