@import "../../App.scss";

.home-card {
    max-width: 200px;
    padding: 2em 4em 5em 4em;
    background-color: $content-background;
    border-radius: 25px;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}